body {
    background-color: #70CF51;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 22px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/grass.png);
    background-size: cover;
}

script {
    display: none;
}

ball, paddle, background, ui {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

ball {
    background-image: url(../images/pokeball.png);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

paddle {
    background-image: url(../images/paddle.png);
    width: 25px;
    height: 100px;
}



ui {
    font-size: 42px;
    text-shadow: 8px 8px 0px black;
    color: white;
    padding: 20px;
    margin: 15px;
    width: 100%;
    text-align: center;
}